doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-GKugkVcT8wqoh3M8z1lqHbU+g6j498/ZT/zuXbepz7Dc09/otQZxTimkEMTkRWHP", crossorigin="anonymous")
  body
    nav
     a(href="/home") home
    
     a(href="/About-Me") About-Me
    
     a(href="/Projects") Projects
    
     a(href="/Services") Services
    
     a(href="/Contact") Contact
     block content